<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans   
      						http://www.springframework.org/schema/beans/spring-beans.xsd">
      	
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
    	destroy-method="close">
    	<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
    	<property name="jdbcUrl" value="jdbc:oracle:thin:@192.168.200.100:1521:orcl"/>
    	<property name="user" value="yyangel"/>
    	<property name="password" value="oracle"/>
	</bean>  	
	
	<bean id="jdbcMessageDao" class="guest.jdbc.JdbcMessageDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="jdbcTemplateMessageDao" class="guest.jdbc.JdbcTemplateMessageDao">
		<constructor-arg ref="dataSource"/>
	</bean>
	
	<bean id="jdbcTemplateMessageDao2" class="guest.jdbc.JdbcTemplateMessageDao2">
		<constructor-arg ref="dataSource"/>
	</bean>	
	
	<bean id="namedTemplateDao" class="guest.jdbc.NamedJdbcTemplateMessageDao">
		<constructor-arg ref="dataSource"/>
	</bean>	         				
	      						
</beans>      						

